.wrapper {
	border: medium ridge #FFFFFF;
	margin: auto;
	width: 900px;
	text-align: center;
	background-color: #C1C7BD;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 6px 6px 10px #000000;
	-moz-box-shadow: 6px 6px 10px #000000;
	box-shadow: 6px 6px 10px #000000;
	background-color: rgba(255, 255, 255, .7);
	background-color: #F0FFF0;
}
.logo {
	text-align: right;
    width: 300px;
	float: left;
}
.title {
	text-align: left;
	width: 590px;
	float: right;
}
.menu {
	padding: 30px;
}
.flash {
	margin: 5px;
	border: thin ridge #008000;
	padding: 30px;
	float: left;
	width: 460px;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	height: 280px;
	background-color: #FFFFFF;
}
.news {
	margin: 5px;
	border: thin groove #009933;
	float: right;
	width: 350px;
	height: 340px;
	background-color: #FFFFFF;
}
.clear_float {
	clear: both;
}
.navigation_links li {
	float: left;
	width: 8em;
	margin-right: 1.6em;
	height: 2em;
	margin-top: 0;
	margin-bottom: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	padding-top: 5px;
	padding-right: 0;
	padding-bottom: 0px;
	padding-left: 5px;
	margin-left: 0px;
	background-image: url('images/Untitled1.jpg');
	color: #DDFFDD;
}
.sust {
	margin: 5px;
	border: thin ridge #008000;
	background-color: #FFFFFF;
}
.calender {
	margin: 5px;
	border: thin ridge #009933;
	width: 430px;
	float: left;
	height: 370px;
	background-color: #FFFFFF;
}
.envis {
	margin: 5px;
	width: 430px;
	float: right;
	border: thin ridge #009933;
	height: 370px;
	background-color: #FFFFFF;
}
.h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: x-large;
	font-weight: normal;
	font-style: normal;
	font-variant: small-caps;
	text-transform: uppercase;
	color: #808080;
}
.sust_txt {
	font-size: 14px;
	padding: 0px;
	margin: 5px 10px 5px 10px;
	text-align: justify;
}
.menu_txt {
	color: #FFFFFF;
}
.news_txt {
	font-size: 14px;
	padding: 0px;
	margin: 5px 10px 5px 10px;
	text-align: justify;
	color: #000000;

